*.cmd
*.xmsgs
isim/*
*.ipf
*.err
*.chk
*.cxt
*.gyd
*.mfd
*.nga
*.pnx
*.rpt
*.tim
*.tspec
*.vm6
top_html/*
*.exe
*.wdb
*.ini
*.svf
*.bgn
*.bit
*.xwbt
*.bld
*.cmd_log
*.csv
*.debug
*.drc
*.gise
*.html
*.ncd
*.lso
*.map
*.mrp
*.ngm
*.xrpt
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.xml
*.syr
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.xise
*.xpi
*.xst
*.xrpt
*.log
ipcore_dir/*
iseconfig/*
_ngo/*
planAhead_run_1/*
planAhead_run_2/*
xlnx_auto_0_xdb
_xmsgs/*
xst/*
